#
#vim secret.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
data:
  DB_PASSWORD: UGFzczEyMwo=   # Base64 encoded value of "password"
---
# kubectl apply -f secrets.yaml
---
# vim dep.yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-dep
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels: 
        app: my-app
    spec:
      containers:
        - name: app-container
          image: nginx
          env:
            - name: DB_PASSWROD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DB_PASSWORD
---
# kubectl apply -f dep.yaml
# kubectl get pod
# kubectl describe pod <pod-name>
---            
